{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  <section class="activity-choice"> 
    <div class="container flex">
      <ul class="games-list card">
        <li><a class="activity-links" href="{% url 'advanced_addition'%}">Advanced addition</a></li>
        <li><a class="activity-links" href="{% url 'addition'%}">Addition</a></li>
        <li><a class="activity-links" href="{% url 'simple_addition'%}">Simple addition</a></li>
      </ul>
    </div>
  </section>

{% endblock content %}
