<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn With Lucy</title>
</head>
<body>

  <!-- Navbar -->
  <div class="navbar" id="navbar">
    <nav class="container flex">
      <a class="logo" href="{% url 'home'%}">Learn With Lucy</a>
        <button class="hamburger" id="hamburger">
          <i class="fa fa-bars"></i>
        </button>
        <ul class="nav-ul" id="nav-ul">
          <li><a class="navbar-links" href="{% url 'store'%}">Store</a></li>
          <li><a class="navbar-links" href="{% url 'high_score'%}">High Scores</a></li>
          <li><a class="navbar-links" href="{% url 'maths'%}">Maths</a></li>
          {% if user.is_authenticated %}
          <li><a class="navbar-links" href="{% url 'profile'%}">Profile</a></li>
          <li><a class="navbar-links" href="{% url 'logout'%}">Log Out</a></li>
          {% else %}
          <li><a class="navbar-links" href="{% url 'register'%}">Register</a></li>
          <li><a class="navbar-links" href="{% url 'login'%}">Log In</a></li>
          {% endif %}
        </ul>
    </nav>
  </div>
  <div class="container flex">
    {%if messages %}
    {% for message in messages %}
    <div class="message">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% block content %}
  
  {% endblock content %}
<!-- Footer -->
  <footer class="footer">
    <div class="container flex">
      <p>Learn With Lucy</p>
      <p>Copyright &copy; 2021</p>
    </div>
  </footer>
   

  <script src="{% static 'main/scripts.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>
<!-- carry on stats -->