<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn With Lucy</title>
</head>
<body>

  <!-- Navbar -->
  <div class="navbar" id="navbar">
    <nav class="container flex">
      <a class="logo" href="#">Learn With Lucy</a>
        <button class="hamburger" id="hamburger">
          <i class="fa fa-bars"></i>
        </button>
        <ul class="nav-ul" id="nav-ul">
          <li><a class="navbar-links" href="#">Home</a></li>
          <li><a class="navbar-links" href="#">Features</a></li>
          <li><a class="navbar-links" href="#">Docs</a></li>
        </ul>
    </nav>
  </div>

  <!-- Intro -->
  <section class="intro">
    <div class="container grid">
      <div class="speech-bubble">
        <h4>Hi, my name is Lucy!</h4>
      </div>
      <div class="intro-img">
        <img src="{% static 'main/goat.svg' %}" alt="goat">
      </div>
      <div class="intro-text card">
        <h1>Skills to practise to meet your learning objectives!</h1>
        <p>Learning at home is different to learning in school.
          So "Learn with Goat" is designed around home use, to make it effective, fun
          and rewarding for children and parents alike.</p>
        <a href="#" class="btn">Join now!</a>
      </div>
    </div>
  </section>

  <!-- Stats -->
  <section class="stats">
    <div class="container flex">
      <h1 class="stats-heading">Educational games and activities</h3>
      <div class="stats-img">
        <img src="{% static 'main/children.svg' %}" alt="children">
      </div>
    </div>
  </section>
  <script src="{% static 'main/scripts.js' %}"></script>
</body>
</html>
<!-- Burger Menu -->