{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<section class="store flex">
  <div class="container cover">
    <h4>Balance: {{user.profile.coins}} coins</h4>

    <h1 class="flex">Store</h1>
    <div class="tab-box">
      <div class="box-tabs">
        <div class="single-tab">Avatars</div>
        <div class="single-tab">Pets</div>
        <div class="single-tab">Dwellings</div>
      </div>

      <div id="box-text" class="store grid">
        {% for avatar in avatars %}
        <div class="store-item card">
          <img class="secondary-img flex" src="{{avatar.image.url}}" alt="avatar">
          <div class="container">
            <h4><b>Price: {{avatar.price}}</b></h4>
          </div>
          <form method="POST">
            {% csrf_token %}
            <input class="btn" type="submit" name="{{avatar.name}}" value="Buy">
          </form>
        </div>
        {% endfor %}
      </div>

      <div id="box-text-2" class="store grid">
        {% for pet in pets %}
        <div class="store-item card">
          <img class="secondary-img flex" src="{{pet.image.url}}" alt="pet">
          <div class="container">
            <h4><b>Price: {{pet.price}}</b></h4>
          </div>
          <form method="POST">
            {% csrf_token %}
            <input class="btn" type="submit" name="{{pet.name}}" value="Buy">
          </form>
        </div>
        {% endfor %}
      </div>

      <div id="box-text-3" class="store grid">
        {% for dwelling in dwellings %}
        <div class="store-item card">
          <img class="secondary-img flex" src="{{dwelling.image.url}}" alt="dwelling">
          <div class="container">
            <h4><b>Price: {{dwelling.price}}</b></h4>
          </div>
          <form method="POST">
            {% csrf_token %}
            <input class="btn" type="submit" name="{{dwelling.name}}" value="Buy">
          </form>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

</section>
{% endblock content %}

{% block script %}
<script src="{% static 'main/store.js' %}"></script>
{% endblock script %}